@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.interface {
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}

body {
    background-color: white;
}

/* Estilo do Header */
header {
    width: 100%;
    padding: 40px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: .3s;
}

header.scrolled {
    background-color: #fff;
    padding: 10px 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

header.scrolled .menu-desktop a,
header.scrolled .btn-login .btn {
    color: #000;
}

header .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 3rem;
}

header .logo a img {
    max-width: 80px;
    transition: .5s;
}

.logo img:hover {
    transform: scale(1.05);
}

header .menu-desktop nav ul {
    list-style: none;
}

header .menu-desktop nav ul li {
    display: inline-block;
    margin: 0 2rem;
    font-weight: 300;
}

header .menu-desktop nav ul li a {
    text-decoration: none;
    color: #fff;
    position: relative;
    display: inline-block;
    padding: 5px 0;
    /* Espaço para a borda */
    overflow: hidden;
}

.menu-desktop nav a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background: #4d96b3;
    transform: translateX(-50%);
    transition: width .5s, left .5s;
}

.menu-desktop nav a:hover::before {
    width: 100%;
}

.menu-desktop nav a:hover {
    transform: scale(1.05);
}

header .btn-login .btn {
    padding: .75rem 1.5rem;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: 1px solid #4d96b3;
    border-radius: .5rem;
    background-color: transparent;
    transition: .5s;
    cursor: pointer;
}

header .btn-login .btn:hover {
    color: #fff;
    background-color: #4d96b3;
}

/* Estilo da introduction */
section.introduction {
    height: 100vh;
    width: 100vw;
    color: #fff;
    position: relative;
}   

.interface-hero {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    background-image: url('../img/background-home-page.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #000, transparent);
}

.txt-introduction {
    width: 80%;
    margin: auto;
    z-index: 5;
}

.txt-introduction h1 {
    font-size: 4em;
    font-weight: 200;
    line-height: 4rem; 
}

.txt-introduction h1 span {
    display: block;
    color: #4d96b3;
    font-style: italic;
    font-weight: 500;
}

.txt-introduction p {
    font-size: 1.2em;
    font-weight: 200;
    margin: 1rem 0;
}

.btn-more-details {
    padding: .75rem 1.5rem;
    color: #fff;
    font-size: 1.2em;
    font-weight: 300;
    border: 1px solid #4d96b3;
    border-radius: .5rem;
    background-color: transparent;
    transition: .5s;
    cursor: pointer;
}

.btn-more-details:hover {
    color: #fff;
    background-color: #4d96b3;
}

/* Esitlo da seção "Sobre nós" */
section.about-us {
    padding: 4rem 0;
    position: relative;
    background-color: #e3e3e3;
}

.interface h1 a {
    margin: 1rem 0;
    color: #4d96b3;
    font-size: 2em;
    font-weight: 500;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}

.interface h1 a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #4d96b3;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s ease-in;
}

.interface h1 a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.items-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 3rem 0;
    gap: 5%;
}

.txt-items p {
    font-size: 1.2em;
    font-weight: 300;
}

.txt-items p span {
    color: #4d96b3;
    font-size: 1.5em;
    font-weight: 500;
    font-style: italic;
}

.img-items img {
    max-width: 420px;
    border-radius: 1rem;
    box-shadow: 5px 5px 7px 0px #4d96b3;
}

/* Estilo scrollbar */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background: #e5e5e5;
}

::-webkit-scrollbar-thumb {
    background-color: #4d96b3;
    border: 2px solid #e5e5e5;
    border-radius: 1rem;
  }

  /* Estilo da seção team */
section.team {
    padding: 4rem 0;
    position: relative;
    background-color: #4d96b3;
}

section.team .interface h1 {
    margin-bottom: 3rem;
}

section.team .interface h1 a {
    color: #fff;
}

section.team .interface h1 a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .3s ease-in;
}

section.team .interface h1 a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.team-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.team-card {
    width: 250px;
    height: 100%;
    background-color: rgba(255, 255, 255, .2);
    border: 1px solid #fff;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: .3s;
    position: relative;
}

.team-card:hover {
    box-shadow: 0px 0px 15px 0px #fff;
}

.btn-more-team {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.team-picture {
    margin: 1rem auto;
}

.team-picture img {
    max-width: 150px;
    border-radius: 50%;
}

.txt-about {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.txt-about h3 {
    font-size: 1.2em;
    font-weight: 500;
}

.txt-about p {
    font-size: 1.1em;
    font-weight: 300;
}